---
---


<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/assets/css/site.css" />
  <script src="/assets/javascript/site.js"></script>
  <title>About</title>
</head>

<body>
  <header>
    {% include header.html %}
  </header>
  My name is Aaron Kirtland, and I am a sophomore studying mathematics, computer science, and Chinese at Washington University in St. Louis. 
  Email me at akirtland (at) wustl (dot) edu to get in touch, or find me on <a href="https://www.linkedin.com/in/aaronkirtland/">linkedin</a>.
  I have a blog at <a href="/blog">For All K</a>, although I must admit that I wrote the previous posts over a year ago, and my thinking has changed since then.
  At this point, though, I would rather leave them as a reminder of change that do away with them entirely.
  <footer>
    {% include footer.html %}
  </footer>
</body>

</html>
