---
---


<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/assets/css/site.css" />
  <script src="/assets/javascript/site.js"></script>
  <title>Aaron Kirtland</title>
</head>

<body>
  <header>
    {% include header.html %}
  </header>
  <h1>Aaron Kirtland</h1>
  <p><img align="middle" src="/assets/img/aaron.jpg" width="150px" alt="Aaron Kirtland" /></p>
  <p>
    I'm an undergraduate at <a href="https://wustl.edu/">Washington University in St. Louis</a> interested in computer science research. My Chinese name is 柯文宇. I attended high school at the wonderful <a href="https://www.wku.edu/academy/">Gatton Academy</a> in Kentucky.
  </p>
  <p>
    My blog is <a href="/blog">For All K</a>. I'm a fan of emails and letters, and you can contact me at atkirtland(at)gmail(dot)com. If you want to want to send encrypted messages, use <a href="https://keybase.io/aarkir">Keybase</a>.
  </p>
  <p>
    You can find my code on my <a href="https://github.com/atkirtland">GitHub</a>. I also really enjoy reading, and you can find me on Goodreads <a href="https://www.goodreads.com/user/show/72594721-aaron-kirtland">here</a>. My favorite books include science fiction like Dune and biographies like Benjamin Franklin's [Auto]biography and Richard Feynman's fantastic "Surely You're Joking, Mr. Feynman!"
  </p>
  <p>
    Lastly, my professional profile is <a href="https://www.linkedin.com/in/aaronkirtland/">here</a> on Linkedin. A few projects I've been involved with are listed below.
  </p>
  <h3>Projects</h3>
  <ul>
    {% include project.html link="https://github.com/atkirtland/safetrek-dialogflow" title="Emergency Assistant" tags="[Node.js][Dialogflow]" description="Google Assistant app implementing SafeTrek's emergency API." %}
    {% include project.html link="https://github.com/jamesylgan/szechuantech" title='<a href="https://devpost.com/software/szechuantech">SzechuanTech RoboAdvisor</a>' tags="[Node.js][Azure][Python]" description="Microsoft chatbot using Blackrock's Aladdin" %}
    {% include project.html link="https://github.com/atkirtland/mathematica-pacman" title="Mathematica Pacman" tags="[Mathematica]" description="a clone of Pac-Man in Mathematica" %}
    {% include project.html link="https://github.com/atkirtland/tile-launcher" title="Tile Launcher" tags="[Android][Java]" description="Launcher where icon size changes with usage frequency" %}
    {% include project.html link="https://github.com/atkirtland/handwriting-practice-app" title="Character Practice Whiteboard" tags="[Android][Java]" description="practice writing in languages with logograms like Chinese" %}
    {% include project.html link="https://github.com/atkirtland/harry-potter-alexa-skill" title="Characters for Harry Potter" tags="[Alexa]" description="speaks a Harry Potter character's summary given their name" %}
  </ul>

  <h3>Websites</h3>
  <ul>
    {% include project.html link="https://github.com/atkirtland/wku-ppy" title="<a href='https://aaronkirtland.com/wku-ppy/'>WKU Project Pengyou Chapter</a>" tags="[HTML][Jekyll]" description="" %}
    {% include project.html link="https://github.com/atkirtland/jide-life" title="<a href='https://aaronkirtland.com/jide-life/'>Jide Life</a>" tags="[Node.js][three.js]" description="Remember your past experiences in VR through Spotify, Facebook, and the NYT. For Alzheimer's." %}
    {% include project.html link="https://github.com/atkirtland/poc-site" title="<a href='https://aaronkirtland.com/poc-site/'>Point of Contact Genetic Screening</a>" tags="[HTML][Jekyll]" description="Website for company aiming to produce a new genetic engineering device." %}
  </ul>
  <footer>
    {% include footer.html %}
  </footer>
</body>

</html>
