---
layout: none
---

<p style="text-align: center; margin-bottom: 20px;">
  See papers on <a href="https://scholar.google.com/citations?user=cHUOkpkAAAAJ&hl=en">Google Scholar</a>, or
</p>

<table class="publications-table">
  <tbody>
{% assign sorted_papers = site.papers | sort: 'date' | reverse %}
{% for paper in sorted_papers %}
    <tr>
      <td class="pub-image-cell">
        <img src="{{ paper.image }}" alt="{{ paper.image_alt }}" width="{{ paper.image_width }}" height="{{ paper.image_height }}" class="pub-image">
      </td>
      <td class="pub-text-cell">
{% if paper.link %}
        <a href="{{ paper.link }}">
          <papertitle>{{ paper.title }}</papertitle>
        </a>
{% else %}
        <papertitle>{{ paper.title }}</papertitle>
{% endif %}
        <br>
        {{ paper.authors }}
        <br>
{% if paper.venue_link %}
        <em><a href="{{ paper.venue_link }}">{{ paper.venue }}</a></em>{% if paper.venue_extra %}{{ paper.venue_extra }}{% endif %}, {{ paper.year }}
{% else %}
        <em>{{ paper.venue }}</em>, {{ paper.year }}
{% endif %}
{% if paper.source %}
        / <a href="{{ paper.source }}">Source</a>
{% endif %}
        <br>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

