---
permalink: /papers-view.html
---

<table class="publications-table">
  <tbody>
{% assign sorted_papers = collections.papers | sort: 'date' | reverse %}
{% for paper in sorted_papers %}
    <tr>
      <td class="pub-image-cell">
        <img src="{{ paper.data.image }}" alt="{{ paper.data.image_alt }}" width="{{ paper.data.image_width }}" height="{{ paper.data.image_height }}" class="pub-image">
      </td>
      <td class="pub-text-cell">
{% if paper.data.link %}
        <a href="{{ paper.data.link }}">
          <papertitle>{{ paper.data.title }}</papertitle>
        </a>
{% else %}
        <papertitle>{{ paper.data.title }}</papertitle>
{% endif %}
        <br>
        {{ paper.data.authors }}
        <br>
{% if paper.data.venue_link %}
        <em><a href="{{ paper.data.venue_link }}">{{ paper.data.venue }}</a></em>{% if paper.data.venue_extra %}{{ paper.data.venue_extra }}{% endif %}, {{ paper.data.year }}
{% else %}
        <em>{{ paper.data.venue }}</em>, {{ paper.data.year }}
{% endif %}
{% if paper.data.source %}
        / <a href="{{ paper.data.source }}">Source</a>
{% endif %}
        <br>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
