---
permalink: /projects-view.html
---

<table class="publications-table">
  <tbody>
{% assign sorted_projects = collections.projects | sort: 'date' | reverse %}
{% for project in sorted_projects %}
    <tr>
      <td class="pub-image-cell">
{% if project.data.image %}
        <img src="{{ project.data.image }}" alt="{{ project.data.image_alt }}" width="{{ project.data.image_width }}" height="{{ project.data.image_height }}" class="pub-image">
{% endif %}
      </td>
      <td class="pub-text-cell">
{% if project.data.link %}
        <a href="{{ project.data.link }}">
          <papertitle>{{ project.data.title }}</papertitle>
        </a>
{% else %}
        <papertitle>{{ project.data.title }}</papertitle>
{% endif %}
        <br>
        {{ project.data.description }}
        <br>
{% if project.data.source %}
        <a href="{{ project.data.source }}">Source</a>{% if project.date %}, {{ project.date | date: "%Y-%m" }}{% endif %}
{% elsif project.date %}
        {{ project.date | date: "%Y-%m" }}
{% endif %}
        <br>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
