---
lang: en
---


<!DOCTYPE html>
<html>

{% include head.html %}
<head>
  <title>Aaron Kirtland</title>
</head>

<body>
  <header>
    {% include menu.html %}
  </header>
  <h1>
  Aaron Kirtland
  </h1>

  <h1>
    Research Experiences
  </h1>

  <h3>Participant, Research in Industrial Projects for Students (RIPS) at the Institute for Pure and Applied Mathematics (IPAM) at UCLA</h3>
  <h4>Summer 2020</h4>
Implemented, optimized, and analyzed a denoising algorithm for signals arising from chaotic dynamical systems. Research was performed in a group of four for the Air Force Research Laboratory. Used Python to test the algorithm on data from Hall Effect Thrusters.

<h3>Participant, Complexity Across Disciplines REU at Boise State University</h3>
<h4>Summer 2019</h4>
    Researched number theoretic and algebraic properties of Ring-LWE-based post-quantum cryptosystems in a team of four under Dr. Liljana Babinkostova. Focused on bounding the spectral norm of a class of matrices used in the RLWE cryptosystem. 

  <h1>Research Outcomes</h1>

<h3>Published Papers</h3>

Nguyen, T. T., Hwang, S. Y., Vuong, N. M., Pham, Q. T., Nghia, N. N., Kirtland, A., & Lee, Y. I. (2018). Preparing cuprous oxide nanomaterials by electrochemical method for non-enzymatic glucose biosensor. Nanotechnology, 29(20), 205501.

<h3>Submitted Papers</h3>

Babinkostova, L., Chin, A., Kirtland, A., Nazarchuk, V., & Plotnick, E. (2020). The Polynomial Learning With Errors Problem and the Smearing Condition. arXiv e-prints, arXiv-2008.
<br><br>
We submitted this paper to the Journal of Mathematical Cryptography; it is currently on arXiv.

<h3>Papers in Preparation</h3>

Botvinick-Greenhouse, J., DeBrito, M., Kirtland, A., Osborne, M., & Johnson, C. (2020). An Unstructured Mesh Approach to Nonlinear Noise Reduction.
<br><br>
We are preparing to submit this paper to the SIAM Journal on Applied Dynamical Systems.
<br><br>
Babinkostova, L., Chin, A., Kirtland, A., Nazarchuk, V., & Plotnick, E. (2020). The Ring Learning With Errors Problem: Spectral Distortion. arXiv preprint arXiv:2007.13189.
<br><br>
We are preparing to submit this paper to a journal; it is currently on the arXiv.

<h3>Delivered Research Presentations</h3>

Botvinick-Greenhouse, J., DeBrito, M., Kirtland, A., Osborne, M., & Johnson, C. (2020, August). An Unstructured Mesh Approach to Nonlinear Noise Reduction. Virtual oral presentation at the Southern California Math REU Conference.
<br><br>
Babinkostova L; Chin, A; Kirtland, A; Nazarchuk, V; Plotnick, E. (2020, January). Ring Learning with Errors: Spectral Distortion and Smearing Conditions. Poster presentation at the Joint Mathematics Meeting, Denver, CO.
Mentor: Dr. Liljana Babinkostova, Boise State University Mathematics
<br><br>
Kirtland, A. (2019, August). Ring Learning with Errors: Spectral Distortion and Smearing Conditions. Poster presentation at the Southeastern Undergraduate Mathematics Workshop, Atlanta, GA.
Mentor: Dr. Liljana Babinkostova, Boise State University Mathematics
<br><br>
Kirtland, A. (2016, November). The Particulars of Pac-Man. Oral presentation at the 35th Annual WKU Mathematics Symposium, Bowling Green, KY.
<br><br>
Kirtland, A.  (2016, June).  Geometric methods for reducing the number of hypothesis boxes in pedestrian detection.  Poster presentation at the National Consortium of Secondary STEM Schools Student Research Conference, Hoboken, NJ.
Mentor: Dr. Qi Li, WKU Computer Science
<br><br>
Last updated: 2021-10-11

  <footer>
    {% include footer.html %}
  </footer>
</body>


</html>
