---
---

@import "normalize";
@import "main";

.conjecture, .corollary, .definition, .example, .proof, .question, .theorem {
  display: block;
  font-style: normal;
}

.conjecture:before, .corollary:before, .definition:before, .example:before, .proof:before, .question:before, .theorem:before {
  content: attr(class) ". ";
  font-weight: bold;
  font-style: normal;
  text-transform: capitalize;
}

.conjecture[text]:before, .corollary[text]:before, .definition[text]:before, .example[text]:before, .proof[text]:before, .question[text]:before, .theorem[text]:before {
  content: attr(class) " (" attr(text) ") ";
  font-transform: capitalize;
}

.theorem {
  font-style: italic;
}

body {
  margin: 0 25% 0 25%;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

.menu ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  text-align: center;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}
