---
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<script src=/assets/js/site.js></script>
	<title>For All K</title>
</head>
<body>
	<header>
                {% include blogmenu.html %}
	</header>
  <h1>
    For All K
  </h1>

  <ul>
  {% assign sortedtags = site.categories | sort %}
  {% for tag in sortedtags %}
  {% assign tagname = tag | first %}
  <li><a href="#{{ tagname | slugify }}">{{ tagname }}</a>
  <ul>
    {% assign sortedposts = site.categories[tagname] | sort %}
    {% for post in sortedposts %}
    <li>
		 <a href="{{ post.url }}">
		 {{ post.title }}
		 <small>{{ post.date | date_to_string }}</small>
		 </a>
    </li>
    {% endfor %}
  </ul>
  </li>
  {% endfor %}
  </ul>

</body>
</html>
