---
---

<!DOCTYPE html>
<html>

{% include head.html %}
<head>
  <title>For All K</title>
</head>


<body>
	<header>
          {% include menu.html %}
                {% include blogmenu.html %}
	</header>
  <h1>
    For All K
  </h1>
  <h3>
    By Category
  </h3>

  <ul>
  {% assign sortedtags = site.categories | sort %}
  {% for tag in sortedtags %}
  {% assign tagname = tag | first %}
  <!--<li><a href="#{{ tagname | slugify }}">{{ tagname }}</a>-->
  <li>{{ tagname }}
  <ul>
    <!-- reverse puts it in newest to oldest order -->
    {% assign sortedposts = site.categories[tagname] | sort | reverse %}
    {% for post in sortedposts %}
    <li>
		 <a href="{{ post.url }}">
		 {{ post.title }}
                 </a>
		 <small>{{ post.date | date_to_string }}</small>
                 {{ post.tags }}
    </li>
    {% endfor %}
  </ul>
  </li>
  {% endfor %}
  </ul>

</body>
</html>
