---
---

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/assets/css/site.css">
	<script src="/assets/javascript/site.js"></script>
	<title>{{page.title}}</title>
</head>
<body>
	<header>
		{% include header.html %}
  <p>
    <a href=/>Home</a>
		<a href=/blog>Blog</a>
  </p>
	</header>
		<article>
			<h1>{{ page.title }}</h1>
			<h3>{{ page.date | date_to_string }}</h3>
			<p>{{ content }}</p>
		</article>
	<footer>
		{% include disqus.html %}
		{% include footer.html %}
	</footer>
</body>
</html>
