---
lang: zh
---


<!DOCTYPE html>
<html>

{% include head.html %}
<head>
  <title>Aaron Kirtland</title>
</head>

<body>
  <header>
    {% include menu.html %}
  </header>
  <h1>
  Aaron Kirtland
  </h1>
  <ul>
    <li>akirtland@wustl.edu</li>
    <li><a href="https://www.linkedin.com/in/aaronkirtland/">LinkedIn</a></li>
    <li><a href="https://github.com/atkirtland">GitHub</a></li>
  </ul>

  <h2>
    教育
  </h2>
  <ul>
    <li>大學：<a href="https://wustl.edu/">Washington University in St. Louis</a>，數學和計算機，中文Chinese 2021
      <ul>
        <li>計算複雜性理論-獨立學習(計算複雜性：現代方法，Jukna)</li>
        <li>微分拓撲(Lee)</li>
        <li>代數拓撲(<a href="http://pi.math.cornell.edu/~hatcher/AT/ATpage.html">Hatcher</a>)</li>
        <li>複分析<a href="https://www.math.wustl.edu/~xtang/Fall2019-complex.html">I</a>, <a href="https://www.math.wustl.edu/~xtang/spring2020-complex.html">II</a> (Ahlfors)</li>
        <li>隨機微分方程式(Evans)</li>
        <li><a href="https://docs.google.com/document/d/1ZeCDC_zpEsvKzCl9K2c2ZAhwXlnqMtJ5EZVzWWXFLrQ/edit">拓撲I</a> (Munkres)</li>
        <li>數學分析I (Apostol), <a href="https://www.math.wustl.edu/~yasha/teaching/2019s/lebesgue/">II</a></li>
        <li>抽象代數(Fraleigh)</li>
        <li><a href="https://www.math.wustl.edu/~chi/math429.html">線性代數</a> (Hoffman and Kunze)</li>
        <li><a href="https://www.math.wustl.edu/~likai/math494.html">統計學</a> (Hogg)</li>
        <li><a href="https://www.cse.wustl.edu/~sanmay/teaching/cse417-spring19/">機器學習</a> (LFD)</li>
        <li><a href="https://research.engineering.wustl.edu/~baruah/TEACHING/2018-1Sp/">高級算法</a> (CLRS)</li>
        <li><a href="https://www.cse.wustl.edu/~taoju/cse546/">計算幾何</a></li>
      </ul>
    </li>
    <li>高中：<a href="https://www.wku.edu/academy/">Gatton Academy</a></li>
  </ul>

  <h2>
    Teaching Assistant / Grading Experiences
  </h2>
  <ul>
    <li>2020春天：拓撲2評分員</li>
    <li>2019秋天：數學分析1、圖論評分員</li>
    <li>2019春天：<a href="https://classes.engineering.wustl.edu/cse541t/">高級算法</a>助教</li>
    <li>2019秋天：<a href="https://classes.engineering.wustl.edu/cse347/web/">算法分析</a>助教</li>
  </ul>

  <h2>
    研究
  </h2>
  <ul>
    <li>2019夏天：<a href="https://math.boisestate.edu/reu/">CAD REU</a>在博伊西州立大学跟Dr. Liljana Babinkostova</li>
    <li>2019春天：跟<a href="https://math.wustl.edu/undergraduate-research">Freiwald scholars program</a>和Dr. Renato Feres的量子幾何閱讀課程</li>
    <li>2017夏天：NSF-IRES補助金在昌原大學</li>
    <li>2016夏天：在路易斯維爾大學和Dr. Adrian Lauf研究無人機</li>
  </ul>

  <h2>
    俱樂部
  </h2>
  <ul>
    <li>2019秋天到現在：華大中文桌子主席</li>
    <li>2018秋天到2019春天：華大電腦協會主席</li>
    <li>2017秋天到2018春天：Take Steps for Kids 5k and 1 mile run助理物流總監</li>
    <li>鷹級童軍</li>
  </ul>

  <h2>
    愛好
  </h2>
  <ul>
    <li>中文</li>
    <li>跑步、游泳</li>
    <li>彈吉他</li>
    <li><a href="https://www.goodreads.com/user/show/72594721-aaron">讀書</a>、編輯維基百科</li>
    <li><a href="https://www.youtube.com/watch?v=8ytIveHX9p4&list=LLiEYg9AwH02zBI3llEsD5HQ&index=3&t=0s">高中</a> <a href="https://www.youtube.com/watch?v=7Sx8M6eExTA">的時候</a>喜歡<a href="https://www.youtube.com/watch?v=Xb7vkvq8Eys">創造</a> <a href="https://www.youtube.com/user/GandalfTheGreyTV/featured">YouTube視頻</a></li>
  </ul>
  

  <h2>
    工程經歷
  </h2>
  <ul>
    <li>2018夏天：在NASA的詹森太空中心做數據科學實習</li>
  </ul>

  <h2>程式設計項目</h2>
  <ul>
    {% include project.html link="https://github.com/atkirtland/safetrek-dialogflow" title="Emergency Assistant" tags="[Node.js][Dialogflow]" description="Google Assistant app implementing SafeTrek's emergency API." %}
    {% include project.html link="https://github.com/jamesylgan/szechuantech" title='<a href="https://devpost.com/software/szechuantech">SzechuanTech RoboAdvisor</a>' tags="[Node.js][Azure][Python]" description="Microsoft chatbot using Blackrock's Aladdin" %}
    {% include project.html link="https://github.com/atkirtland/mathematica-pacman" title="Mathematica Pacman" tags="[Mathematica]" description="a clone of Pac-Man in Mathematica" %}
    {% include project.html link="https://github.com/atkirtland/tile-launcher" title="Tile Launcher" tags="[Android][Java]" description="Launcher where icon size changes with usage frequency" %}
    {% include project.html link="https://github.com/atkirtland/handwriting-practice-app" title="Character Practice Whiteboard" tags="[Android][Java]" description="practice writing in languages with logograms like Chinese" %}
    {% include project.html link="https://github.com/atkirtland/harry-potter-alexa-skill" title="Characters for Harry Potter" tags="[Alexa]" description="speaks a Harry Potter character's summary given their name" %}
  </ul>

  <h2>網站</h2>
  <ul>
    {% include project.html link="https://github.com/atkirtland/wku-ppy" title="<a href='https://aaronkirtland.com/wku-ppy/'>WKU Project Pengyou Chapter</a>" tags="[HTML][Jekyll]" description="" %}
    {% include project.html link="https://github.com/atkirtland/jide-life" title="<a href='https://aaronkirtland.com/jide-life/'>Jide Life</a>" tags="[Node.js][three.js]" description="Remember your past experiences in VR through Spotify, Facebook, and the NYT. For Alzheimer's." %}
    {% include project.html link="https://github.com/atkirtland/poc-site" title="<a href='https://aaronkirtland.com/poc-site/'>Point of Contact Genetic Screening</a>" tags="[HTML][Jekyll]" description="Website for company aiming to produce a new genetic engineering device." %}
  </ul>
  <footer>
    {% include footer.html %}
  </footer>
</body>

</html>
