---
lang: zh
---


<!DOCTYPE html>
<html>

{% include head.html %}
<head>
  <title>Aaron Kirtland</title>
</head>

<body>
  <header>
    {% include menu.html %}
  </header>
  <h1>
  Aaron Kirtland（柯文宇）
  </h1>


<figure style="text-align: center;">
  <img src="/assets/img/crater-lake.jpg" style="max-width:50%;height:auto;">
  <figcaption>太平洋屋脊步道中的火山口湖，2021</figcaption>
</figure>

我是聖路易斯華盛頓大學2021年畢業生，而且我的專業是數學、計算機和中文。
我2021-2022學年要走太平洋屋脊步道、申請應用數學博士、還有去臺灣學習。

如果你想聯繫我，你可以給我發電子郵件：

  <ul>
    <li>atkirtland at gmail dot com</li>
    <li><a href="https://www.linkedin.com/in/aaronkirtland/">LinkedIn</a></li>
    <li><a href="https://github.com/atkirtland">GitHub</a></li>
    <li><a href="https://scholar.google.com/citations?user=cHUOkpkAAAAJ&hl=en">Google Scholar</a></li>
  </ul>
  <footer>
    {% include footer.html %}
  </footer>
</body>

最近更新時間：2021-10-11

</html>
